body{
    background-color: grey;
}

.container{
    height: 100px;
    width: 100px;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    
}

.orbit{
    border: solid 1px Red;
	height: 400px;
	width: 400px;
	position: relative;
	z-index: 4;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -200px;	
	border-radius: 100%;
	/* -webkit-animation: Rotation 50s linear infinite;
	        animation: Rotation 50s linear infinite; */
}

.item{
    position: relative;
    overflow: hidden;
    top: 50%;
    left:0;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 228, 196);
    border-radius: 50%;
}

.item:hover {
    padding: 5px;
    background-color: rgba(255, 228, 196, 0.61);
    animation: pulse 2s infinite;    
}
.orbit:hover{
    animation-play-state: paused;
}

.a {
    /* position: relative; */
    left: 100%;
    margin-left: -20px;  
}

.b {
    margin-left: -10px;
    
}

.c {
    top: 10%;
    margin-left: 30px;
}






@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes Rotation {
	from {-webkit-transform: rotate(0);transform: rotate(0);}
	  to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}	
}



